[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
twikit = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "uvicorn api.main:app --port=3001 --reload"
